.grid {
    display: grid;
    grid-template-columns: repeat(28, 20px);
    grid-template-rows: repeat(28, 20px);
    width: 560px;
    height: 560px;
    border: 2px solid #333;
    background-color: #000;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: #ffd700;
    border-radius: 50%;
    box-sizing: border-box;
}

.wall {
    background-color: #1a1a1a;
    border: 1px solid #444;
}

.power-pellet {
    background-color: #ffd700;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: auto;
}

.blinky {
    background-color: #ff4d4d;
}

.pinky {
    background-color: #ff99cc;
}

.inky {
    background-color: #66ccff;
}

.clyde {
    background-color: #ffcc66;
}

.pac-man {
    background-color: #ffeb3b;
    border-radius: 50%;
}

.scared-ghost {
    background-color: #00ffff;
}
