.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: white; /* Couleur blanche pour les pac-dots */
    border: 5px solid white; /* Ajouter une bordure blanche autour du pac-dot */
    border-radius: 50%; /* Assurez-vous que les pac-dots sont ronds */
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;
}

.pac-man {
    background-color: yellow; /* Couleur jaune pour Pac-Man */
    border-radius: 50%; /* Assurez-vous que Pac-Man est rond */
}

.scared-ghost {
    background-color: aquamarine;
}
